body
{
	background-color:#d6d6d6;
	font-family:candara, sans-serif;
	padding:0px;
	margin:0px;
	width:100%;
    text-align: center;
     
}
header
{
	margin:0px;
	height:auto;
	width:100%;
	position: fixed;
	top:0;
	z-index: 200;
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 0px;
}
#selectedLang{
    color:black;
}
#nonselectedLang{
    color:#01729A;
}
#switchContainer_mobile
{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #d6d6d6;
    padding-top:0px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    display: none;
}
#switchContainer
{
    width: 100%;
    height: auto;
    text-align: right;
    position:absolute;
    top:10px;
    right:10px;
    padding-top: 10px;
    margin-bottom: 0px;
}
.textOne
{
    font-size: 22px;
    font-weight: 550;
    font-stretch: 100%;
    letter-spacing:0px;
    text-align: center;   
}
.switch
{
    position:relative;
    display: inline-block;
    width: 50px;
    height:24px;
}
.switch input
{
    opacity:0;
    width:0;
    height:0;
}

.slider
{
    position: absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: black;
    -webkit-transition:.4s;
    transition:.4s;
}
.slider:before 
{
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition:.4s;
    transition: .4s;
}
input:checked + .slider {
    background: #2196F3;
}
input:focus +.slider {
    box-shadow: 0 0 1px #01729A;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round{
    border-radius: 34px;
}
.slider.round:before{
    border-radius: 50%;
}
#menuImage
{
    position: absolute;
    top:20px;
    right:20px;
	float:right;
	display: none;
    height: 30px;
}
#nav_container
{
	font-size: 20px;
	list-style-type: none;
	background-color: #d6d6d6;
	margin-top:0px;
	margin-bottom: 0px;
	text-align: center;
    
	padding-right: 0px;
	padding-top:5px;
	padding-bottom: 15px;   
}
#logo_container
{
    width:100%;
    text-align: center;
    background-color:#d6d6d6;
}
#logoImage
{
	height: 120px;
	
	margin-left: 0px;
	margin-top: 15px;
    
}
#logoImage_mobile
{
    position: absolute;
    top:10px;
    left:20px;
    height:70px;
    display: none;
    
}
#bar
{
    height : 170px;
    width : 100%;
    display:block;
    
    overflow: auto;
    position: relative;
    margin-bottom: 0px;
}

.nav_list
{
    display: inline;
	padding: 10px 15px;
}
.nav_link
{
    position:relative;
    text-decoration:none;
    color: black;
	padding:0px;   
}
.nav_link:hover
{
	color:black;	
}
.nav_link:before
{
	content: "";
  	position: absolute;
  	width: 100%;
  	height: 2px;
  	bottom: 0;
  	left: 0;
  	background-color: black;
  	visibility: hidden;
  	-webkit-transform: scaleX(0);
 	transform: scaleX(0);
  	-webkit-transition: all 0.3s ease-in-out 0s;
  	transition: all 0.3s ease-in-out 0s;
}
.nav_link:hover:before
{
	visibility: visible;
  	-webkit-transform: scaleX(1);
  	transform: scaleX(1);
}


#menu_show_container
{
    text-align: center;
    background-color: #d6d6d6;
    width:100%;
    height:auto;
    text-align: left;
    padding-bottom: 20px;
    box-sizing: border-box;
    margin-top: 0px;
    display:none;
    border-bottom-style: solid;
    border-bottom-width:0px;
    border-bottom-color: gray;
}
#menu_nav_container
{
    color:black;
    list-style-type: none; 
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin-top: 0px;
   
    
}
.menu_nav_list
{
    
    text-align: left;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:0px;
    width:80%;
    text-decoration: none;
    list-style-type: none;
    border-bottom-style: solid;
    border-bottom-width:0px;
    border-bottom-color: #d9d9d9;
    margin-left: auto;
    margin-right: auto;
    
}
.menu_nav_link
{
    position:relative;
    text-decoration:none;
    color: black;
	padding:0px; 
    font-weight:400;
    font-size: 38px;
}
.menu_nav_link:hover
{
   text-decoration: underline;
}
#menu_title
{
    font-size: 5vw;
    color:gray;
    border-bottom-width: 0px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}
#menu_list_one
{
    border-top-width: 0px;
    border-top-color: #d9d9d9;
    border-top-style: solid;
}
#close_box
{
    width:40px;
    height: auto;
    font-size: 4vw;
    padding: 10px;
    background-color:#d6d6d6;
    color:white;
    text-align: center;
    position: absolute;
    right:20px;
    top:60px;
    
}
#close_image
{
    width:8vw;
    height: auto;
    font-size: 4vw;
    padding: 0px;
    background-color:#d6d6d6;
    color:white;
    text-align: center;
    position: absolute;
    right:60px;
    top:30px;
    display: none;
    
}

#title1
{
    color:black;
    margin-top: 30px;
    font-weight: 600;
    font-stretch: 100%;
    letter-spacing: 0px;
    font-size: 45px;
    width:80%;
    position: relative;
    margin-left:auto;
    margin-right: auto;
    text-align: left;
    
}
#whole_container_one
{
    margin-left: auto;
    margin-right: auto;
    width:80%;
    display: inline-block;
    
    
    text-align: left;
}
#contact_me_container
{
    width:30%;
    float:left;
    font-weight:400;
    font-size: 20px;
   
    
}
#form_container
{
    width : 60%;
    float:right;
    
}
#divider
{
    width : 10%;
    
    float:right;
    
}
#about_image_one
{
    display: block;
    width:100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
#name_container
{
    margin-left: auto;
    margin-right: auto;
    width:100%;
    display: inline-block;
    
}
#email_first_name
{
    width : 47%;
    float:lefft;
    box-sizing: border-box;
    
}
#email_last_name
{
    width : 47%;
    float:right;
    box-sizing: border-box;
}
.email_input
{
    padding:12px;
    font-size:20px;
    margin-bottom: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    
}
.email_label
{
   font-size:25px; 
    
}
#email
{
    width:100%;
}
#email_message
{
    width:100%;   
}
#submit_button
{
    width:30%;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 22px;
    margin-bottom: 40px;
    
}
#error
{
    color:#01729A;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-width: 0px;
    background-color:#d6d6d6; 
}
#title_two
{
    color:black;
    margin-top: 0px;
    font-weight: 600;
    font-stretch: 100%;
    letter-spacing: 0px;
    font-size: 45px;
    width:80%;
    position: relative;
    margin-left:auto;
    margin-right: auto;
    text-align: left;
    
}
#title_three
{
    color:black;
    margin-top: 40px;
    font-weight: 600;
    font-stretch: 100%;
    letter-spacing: 0px;
    font-size: 45px;
    width:80%;
    position: relative;
    margin-left:auto;
    margin-right: auto;
    text-align: left;
    
}
#questions_container
{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.question
{
    font-size: 25px;
    margin-top: 40px;
}
.answer
{
    margin-top: 20px;
    font-size: 20px;
}
#crisis_container
{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size:20px;
    line-height: 40px;
}
#contact_info_container
{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top:100px;
    line-height: 30px;
}

@media only screen and (max-device-width:800px) 
{
    
    #bar
    {
        height : 330px;
        width : 100%;
        display:block;

        overflow: auto;
        position: relative;
        margin-bottom: 0px;
    }
    

    .switch
    {

        position:relative;
        display: inline-block;
        width: 100px;
        height:58px;
    }
    .slider:before 
    {
        position: absolute;
        content: "";
        height: 46px;
        width: 46px;
        left: 8px;
        bottom: 6px;
        background-color: white;
        -webkit-transition:.4s;
        transition: .4s;
    }
    .textOne
    {

        font-size: 50px;
        font-weight: 550;
        font-stretch: 100%;
        letter-spacing:0px;
        text-align: center; 
        vertical-align: bottom;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    #menu_nav_container
    {
        color:white;
        list-style-type: none; 
        width: 100%;
        height:100vh;
        padding-top: 200px;
        margin-top: 0px;


    }
    .menu_nav_list
    {

        text-align: left;
        padding-top:50px;
        padding-bottom:20px;
        padding-left:0px;
        width:80%;
        text-decoration: none;
        list-style-type: none;
        border-bottom-style: solid;
        border-bottom-width:0px;
        border-bottom-color: #d9d9d9;
        margin-left: auto;
        margin-right: auto;

    }
    .menu_nav_link
    {
        position:relative;
        text-decoration:none;
        color: black;
        padding:0px; 
        font-weight:400;
        font-size: 100px;
    }
    #today_link
    {
        width:20%;
        position: absolute;
        top:400px;
        right:30px;
    }
    
    
    #copy_container
    {
        margin-top: 30px;
        font-size: 10px;
    }
    
    #about_image_one
    {
        display: block;
        width:100%;
        margin-top: 0px;
        margin-bottom: 100px;
    }
    #client_button
    {
        margin-left:auto;
        margin-right:auto;
        background-color: black;
        color: white;
        padding:20px 30px;
        font-size: 50px;
        text-decoration: none;
        margin-top: 90px;
        margin-bottom:100px;
    }
    #about_info_container
    {
        width : 45.5%;
        float:right;
        margin-bottom: 10px;
        margin-top: 100px;

    }
    #error
    {
        color:#01729A;
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border-width: 0px;
        background-color:#d6d6d6; 
    }
    #submit_button
    {
        width:30%;
        box-sizing: border-box;
        padding: 10px 20px;
        background-color: black;
        color: white;
        font-size: 40px;
        margin-bottom: 40px;

    }
    #contact_info_container
    {
        width:80%;
        margin-left: auto;
        margin-right: auto;
        text-align: right;
        font-size: 20px;
        margin-bottom: 30px;
        margin-top:200px;
        line-height: 30px;
    }
    #menuImage
    {
        position: absolute;
        top:40px;
        right:50px;
        float:right;
        height: 90px;
    }
    #logoImage_mobile
    {
        position: absolute;
        top:30px;
        left:50px;
        height:140px;

    }
    #switchContainer_mobile
    {
        width: 100%;
        height: auto;
        text-align: center;
        background-color: #d6d6d6;
        padding-top:15px;
        padding-bottom: 15px;
        margin-bottom: 0px;
        display: none;
    }

}


