body
{
	background-color:white;
	font-family:Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0px;
	width:100%;
  
}
header
{
	margin:0px;
	height:auto;
	width:100%;
	position: fixed;
	top:0;
	z-index: 200;
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 0px;
    
}

#menuImage
{
    position: absolute;
    bottom:10%;
    
    right:10px;
    
    width: 50px;
	float:right;
	display: none;
    z-index:200;
    
}
#nav_container
{
	font-size: 2vw;
	list-style-type: none;
	background-color: white;
	margin-top:0px;
	margin-bottom: 0px;
	text-align: right;
    
	padding-right: 70px;
	padding-top:50px;
	padding-bottom: 15px;   
}
#logoImage
{
	height: 80px;
	float:left;
	margin-left: 30px;
	margin-top: 15px;
    display: none;
    
}
#bar
{
    height : 100px;
    width : 100%;
    display:block;
    margin-bottom: 20px;
    
    
}
.nav_list
{
    display: inline;
	padding: 10px 15px;
}
.nav_link
{
    position:relative;
    text-decoration:none;
    color: black;
	padding:0px;   
}
.nav_link:hover
{
	color:black;	
}
.nav_link:before
{
	content: "";
  	position: absolute;
  	width: 100%;
  	height: 2px;
  	bottom: 0;
  	left: 0;
  	background-color: black;
  	visibility: hidden;
  	-webkit-transform: scaleX(0);
 	transform: scaleX(0);
  	-webkit-transition: all 0.3s ease-in-out 0s;
  	transition: all 0.3s ease-in-out 0s;
}
.nav_link:hover:before
{
	visibility: visible;
  	-webkit-transform: scaleX(1);
  	transform: scaleX(1);
}


#menu_show_container
{
    text-align: center;
    background-color: white;
    width:100%;
    text-align: center;
    padding-bottom: 20px;
    box-sizing: border-box;
    margin-top: 0px;
    display:none;
    border-bottom-style: solid;
    border-bottom-width:2px;
    border-bottom-color: gray;
    
}
#menu_nav_container
{
    color:white;
    list-style-type: none; 
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    
}
.menu_nav_list
{
    
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:0px;
    width:50%;
    text-decoration: none;
    list-style-type: none;
    border-bottom-style: solid;
    border-bottom-width:2px;
    border-bottom-color: #d9d9d9;
    margin-left: auto;
    margin-right: auto;
   
    
}
.menu_nav_link
{
    position:relative;
    text-decoration:none;
    color: rgb(0,0,64);
	padding:0px; 
    font-weight:700;
    font-size: 5vw;
}
.menu_nav_list:hover
{
	color:black;
    background-color: white;
}
.menu_nav_link:hover
{
	color:black;
    text-decoration: underline;
}
#menu_title
{
    font-size: 5vw;
    color:gray;
    border-bottom-width: 0px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}
#menu_list_one
{
    border-top-width: 2px;
    border-top-color: #d9d9d9;
    border-top-style: solid;
}

#close_image
{
    width:50px;
   
    
    
    background-color:white;
    color:white;
    text-align: center;
    position: absolute;
    right:10px;
    top:20px;
    display: none;
    
}

#topHeadline
{
    width:100%;
    color: white;
    /*background-color:#020f68;*/
    background-color: black;
    font-size: 3vw;
    font-weight: 900;
    font-stretch: 100%;
    letter-spacing:-1px;
    text-align: center;
    margin-top:0px;
    margin-bottom:0px;
    display: none;
}
#infoBlocksContainer
{
    width: 96%;
    
    overflow: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-left:auto;
    margin-bottom: 0px;
    position: relative;
    
}
.midBlock
{
    width: 48%;
    
    display: block;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    
}

#LocImage
{
  display: block;
    width:100%;
}

#locationContainer
{
    float:left;
    background-color: white;
}

#locText
{
    text-align: left;
    position: relative;
    margin-top:10px;
    margin-left: 15px;
    margin-right: 2px;
    padding:5px;
    color:black;
    font-size: 2.5vw;
    font-weight: 900;
    font-stretch: 100%;
    letter-spacing:-1px;
}

#familyContainer
{
    float: right;
    background-color: white;
}


#famImage
{
    width:100%;
    display: block;
  
}
#endPageBar
{
    width:100%;
    height: 30px;
}
#image_two_container
{
    width:100%;
    text-align: left;
    background-color: #d9d9d9;
    position: relative;
}
#image_two
{
    width: 100%;
    margin-top:0px;
    background-color: #d9d9d9;
}
#image_one_container
{
    width:100%;
    text-align: center;
    background-color: white;
    position: relative;
    margin-top: 0px;
}
#image_one
{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#experience_title
{
    background-color: white;
    width:100%;
    color:black;
    font-weight: 800;
    font-size: 5vw;;
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom:0px;
}
#experience_container
{
    width:96%;
    background-color: #d9d9d9;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 0px;
    position: relative
    
}
#contact_container
{
    text-align: center;
    width:96%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 0px;
    height: auto;
    margin-bottom: 100px;
    background-color: white;
    padding-top: 0px;
    padding-bottom: 40px;
    overflow: auto;
    
    
}
#phone
{
    float:left;
    width:48%;
    text-align: center;
    background-color: white;
    
}
#email
{
    float:right;
    width:48%;
    text-align: center;
    background-color: white;
    
}
.contact_logo
{
    width:20%;
}

.logo_text_bottom
{
    font-weight: 600;
    font-size: 2vw;
    color: black;
}
#phone_num_link
{
    text-decoration: none;
    color:black;
}
#click
{
    width:96%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 3.5vw;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    margin-top: 30px;
}
#phone_top_link
{
    text-decoration: none;
    color:white;
}
.dont_display
{
    font-size: 0;
    width:1px;
    height: 1px;
    display:inline-block;
    overflow:hidden;
    position: absolute;
    border:0;
    padding:0;
    margin:0;
    clip: rect(1px,1px,1px,1px);
}
#left_side_container
{
    float: left;
    width:40%;
    padding-left: 0px;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    
}
#title_one
{
    font-size: 50px;
    font-weight: 900;
    font-stretch: 100%;
    letter-spacing:-1px;
    color: rgb(0,0,64);
    width: 100%;
}

#top_image_logo
{
    width:70%;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
}
#title_two
{
    font-size: 30px;
    font-weight: 900;
    font-stretch: 100%;
    letter-spacing:-1px;
    color: rgb(0,0,64);
    width: 100%;
}
#right_side_container
{
    float: right;
    width:50%;
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 0px;
    padding-bottom: 0px;
    
}
#top_image_one
{
    width:88%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#second_level_container
{
    width:100%;
    padding-top: 80px;
    display: block;
    position: relative;
}
#second_level_image_one
{
    width:75%;
    display: block;
    float: left;
    position: relative;
    padding-top: 0px;
    margin-bottom: 80px;
    
}
#second_level_small_right_side
{
    width:25%;
    float: right;
    padding-top: 0px;

}
#experience_image_on_second_level
{
    width:70%;
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
#family_image_on_second_level
{
    width:60%;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#third_level_container
{
    width:100%;
    display: inline-block;
    position: relative;

    background-image: url("../images/home/concrete_block.jpeg");
   
    height: 100%; 
    background-attachment:scroll;
    background-position:top;
    background-repeat:no-repeat;
    background-size: cover;
    padding-bottom: 150px;
    
   
    
   
}
#top_title_third_level
{
    width:95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 65px;
    font-weight: 900;
    font-stretch: 100%;
    letter-spacing:0px;
    color: rgb(0,0,64);
    padding-bottom: 0px;
    
    
}
.third_level_block
{
    width:33%;
    display: block;
    float:left;
}
.title_third_level_block
{
    font-size: 45px;
    font-weight: 900;
    font-stretch: 100%;
    letter-spacing:-1px;
    color: rgb(0,0,64);
    width: 100%;
    text-align: center;
}

#first_block_on_third_level
{
    width:25%;
    text-align: center;
    font-weight: 700;
    font-stretch: 100%;
    letter-spacing:0px;
    padding-top: 0px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}
#services_list
{
    background-color: rgb(0,0,64);
    width:100%;
    text-align: center;
    box-sizing: border-box;
    padding:40px 20px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
}
.service_list_item
{
    font-size: 30px;
    font-weight: 900;
    font-stretch: 100%;
    letter-spacing:0px;
    list-style-type: none;
    margin-bottom: 0px;
    color:white;
    box-sizing: border-box;
    padding:2px 0px;
  
}

#second_block_on_third_level
{
    width:45%;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    
}
.paragraph_third_level_block
{
    width:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    font-stretch: 100%;
    letter-spacing:0px;
    color: rgb(0,0,64);
    box-sizing: border-box;
}
#services_button_on_third_level
{
    width:50%;
    box-sizing: border-box;
    border-style: none;
    background-color: rgb(0,0,0,1);
    font-weight: 700;
    font-stretch: 100%;
    letter-spacing:0px;
    font-size: 30px;
    padding: 10px 20px;
    color:white;
    border-radius: 30px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 0px;
    border-color: black;
    

}
#services_button_on_third_level:hover
{
    opacity:.9;
   
}
#third_block_on_third_level
{
    width:28%;
    padding:0px;
    
    box-sizing: border-box;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-top:0px;
    text-align: center;
    
    font-weight: 700;
    font-stretch: 100%;
    letter-spacing:0px;
    display: inline-block;
    vertical-align: top;
}
#image_one_on_third_block_third_level
{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: block;
    margin-top: 30px;
    border-radius: 10px;
}
#image_two_on_third_block_third_level
{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: block;
    margin-top: 30px;
    border-radius: 10px;
}
#grey_floor
{
    width:100%;
    background-color: rgb(120, 120, 120);
    height:50px;
    display: block;
}

#mobile_what_we_do_container
{
    width:100%;
    display: none;
    position: relative;
    padding-top: 40px;
    text-align: center;
    overflow: hidden;
        
    
}
#mobile_top_title_third_level
{
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 75px;
    font-weight: 900;
    font-stretch: 100%;
    letter-spacing:0px;
    color: rgb(0,0,64);
    padding-bottom: 0px;
    text-align: center;
}
.mobile_paragraph_third_level_block
{
    width:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    font-stretch: 100%;
    letter-spacing:0px;
    color: rgb(0,0,64);
}
#mobile_services_button_on_third_level
{
    width:80%;
    text-decoration: none;
    box-sizing: border-box;
    border-style: none;
    background-color: black;
    font-weight: 700;
    font-stretch: 100%;
    letter-spacing:0px;
    font-size: 55px;
    padding: 40px 20px;
    color:white;
    border-radius: 15px;
    border-width: 8px;
    border-style: solid;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
        

}
#mobile_services_container
{
    width:100%;
    display: none;
    position: relative;
    padding-top: 40px;
    text-align: center;
    overflow: hidden;
        
    
}



#mobile_location_with_stamps_container
{
    width:100%;
    display: none;
    position: relative;
}
#mobile_second_level_image_one
{
   
    display: block;
    position: relative;
    width:90%;
    float: none;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    
}
#mobile_second_level_small_right_side
{
    width:85%;
    float: none;
    
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
    text-align-last: justify;

}
#mobile_experience_image_on_second_level
{
    display: inline-block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width:40%;
    float:none;
    margin-top: 0px;
}
#mobile_family_image_on_second_level
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width:40%;
    vertical-align: middle;
    margin-top: 0px;
}
#small_browser_what_we_do_container
{
    display: none;
    width:100%;
    position: relative;
    text-align: center;
}
#small_browser_title_what_we_do
{
    width:100;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 65px;
    font-weight: 900;
    font-stretch: 100%;
    letter-spacing:0px;
    color: rgb(0,0,64);
    padding-bottom: 0px;
    
}

#small_browser_paragraph_what_we_do
{
    width:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-stretch: 100%;
    letter-spacing:0px;
    color: rgb(0,0,64);
    box-sizing: border-box;
}
#small_browser_two_halfs_what_we_do
{
    width:100%;
    display: inline-block;
    padding-bottom: 50px;
}
#small_browser_left_list_contianer
{
    width:45%;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    font-stretch: 100%;
    letter-spacing:0px;
    padding-top: 0px;
    box-sizing: border-box;
    vertical-align: top;
}
#small_browser_right_3d_pics
{
    width:50%;
    display: inline-block;
    padding:0px;
    box-sizing: border-box;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-top:0px;
    text-align: center;
    vertical-align: top;
}  

#small_browser_services_list
{
    background-color: rgb(0,0,64);
    width:100%;
    text-align: center;
    box-sizing: border-box;
    padding:40px 20px;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
}
.small_browser_service_list_item
{
    font-size: 30px;
    font-weight: 900;
    font-stretch: 100%;
    letter-spacing:0px;
    list-style-type: none;
    margin-bottom: 0px;
    color:white;
    box-sizing: border-box;
    padding:2px 0px;
  
}

#small_browser_image_on_what_we_do
{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: block;
}
#big_image_container
{
    width:100%;
    background-image: url("../images/home/concrete_block_white.jpg");
   
    
    background-attachment:scroll;
    background-position:top;
    background-repeat:no-repeat;
    background-size:cover;
    padding-top: 0px;
    padding-left:0%;
    padding: 0px;
    box-sizing: border-box;
    
    
}

#desktop_title_logo_services
{
    width:100%;
    box-sizing: border-box;
}
#title_one_im
{
    font-size: 80px;
    font-weight: 900;
    font-stretch: 100%;
    letter-spacing:-1px;
    color: rgb(0,0,64);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    padding-left: 6%;
   
    
}
#top_image_logo_im
{
    width:40%;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
}
#title_two_im
{
    font-size: 30px;
    font-weight: 900;
    font-stretch: 100%;
    letter-spacing:-1px;
    color: rgb(0,0,64);
    width: 100%;
    text-align: center;
}
#services_list_container
{
    width:100%;
    background-color: rgb(255,255,255,.35);
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-bottom: 0px;
    padding-left: 3%;
    
    
 
    
}
#services_list_top
{
    
    width:98%;
    
    text-align: left;
    text-align-last: left;
    box-sizing: border-box;
    padding:0px 0px;
    
    
    
}
.services_list_item_top
{
    font-size: 28px;
    font-weight: 900;
    font-stretch: 100%;
    letter-spacing:0px;
    list-style-type: none;
    margin-bottom: 0px;
    color:rgb(0,0,64);
    box-sizing: border-box;
    padding:0px 0px;
    display:inline-block;
    
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
   
    border-right-width: 5px;
    border-right-style: solid;
    border-right-color: rgb(0,0,64);
   
    text-align: center;

}
#services_item_one
{
    padding-left: 0px;
}
#services_item_six
{
    border-right-width: 0px;
    
    
}
#wwd_container
{
    width:100%;
    display: inline-block;
    background-color:rgb(0,0,0,.3);
    
    padding-bottom: 120px;
    margin-top: 120px;
    padding-top: 120px;
    margin-bottom: -5px;
}
#left_side_second_level
{
    width:70%;
    float:left;
}
#slide_out_title_container
{
    width:50%;
    font-size: 45px;
    font-weight: 900;
    font-stretch: 100%;
    letter-spacing:0px;
    background-color: rgb(0,0,64);
    color: white;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

}
#wwd_para
{
    width:90%;
    font-size: 25px;
    font-weight: 900;
    font-stretch: 100%;
    letter-spacing:0px;
    background-color:transparent;
    color:white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 0px;
    box-sizing: border-box;
    padding:20px;
    
}
#right_side_second_level
{
    width:30%;
    float:right;
}
#button_container
{
    width:80%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
#mobile_title_one_im
{
    font-size: 60px;
    font-weight: 900;
    font-stretch: 100%;
    letter-spacing:-1px;
    color: rgb(0,0,64);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-left: 0%;
    box-sizing: border-box;
}
#mobile_top_image_one
{
    width:88%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#mobile_services_list_top
{
    
    width:98%;
    text-align: center;
    text-align-last: center;
    box-sizing: border-box;
    padding:0px 0px;
    margin-left: auto;
    margin-right: auto;
    
    
    
    
}
.mobile_services_list_item_top
{
    font-size: 40px;
    font-weight: 900;
    font-stretch: 100%;
    letter-spacing:0px;
    list-style-type: none;
    margin-bottom: 0px;
    color:rgb(0,0,64);
    box-sizing: border-box;
    padding:0px 0px;
    width:60%;
    
    
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
   
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0,0,64);
   
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
#mobile_services_item_one
{
    padding-left: 0px;
}
#mobile_services_item_six
{
    border-bottom-width: 0px;
    
    
}
@media only screen and (max-device-width:1100px)
{
    #menu_nav_container
    {
        
        height: 100vh;
    }
    .menu_nav_list
    {
        padding-top:40px;
        padding-bottom:40px;
    }
    .menu_nav_link
    {
        font-size: 8vw;
    }
    #menuImage
    {
        display: block;
        height: 100px;
        width: 100px;
    }
    #close_image
    {
        height: 100px;
        width: 100px;
    }
    #nav_container
    {
        padding-top: 120px;
    }
    #logoImage
    {
        height: 100px;
        width: auto;
    }
    
    .nav_list
    {
        display: none;
    }
    #bar
    {
        height: 120px;
    }


    #title_one
    {
        font-size:60px;
    }
    #title_two
    {
        font-size:45px;
        box-sizing: border-box;
        padding-left: 5px;
        padding-right: 5px;
     
    }
    #left_side_container
    {
        width:100%; 
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        
    }
    #right_side_container
    {
        width:80%; 
        float:none;
        padding-top: 80px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 40px;
        
    }
    #top_image_one
    {
        width:100%;
    }
    
    #third_level_container
    {
        display: none;
    }
    
    #mobile_what_we_do_container
    {
        
        display: block;     
        
    }
    #second_level_container
    {
        display: none;
    }

    #mobile_services_container
    {
        display:block;
    }
    #mobile_second_level_small_right_side
    {
        padding-top: 100px;
    }




    #desktop_title_logo_services
    {
        display: none;
    }
    #mobile_desktop_title_logo_services
    {
        display: block;
    }
    #mobile_title_one_im
    {
        font-size: 80px;
    }
    #mobile_services_list_top
    {
        
     
        
        
        
    }
    .mobile_services_list_item_top
    {
        font-size: 70px;
        width:60%;
    }


    #left_side_second_level
    {
        width:100%;
    }
    #slide_out_title_container
    {
        width: 90%;
        font-size: 70px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #wwd_para
    {
        font-size: 60px;
    }
    #button_container
    {
        margin-top: 80px;
        margin-bottom: 80px;
        
    }
    #services_button_on_third_level
    { 
        font-size:70px;
        
        padding: 40px 80px;
        border-radius: 100px;
    }
    #right_side_second_level
    {
        width:100%;
    }
    #mobile_location_with_stamps_container
    {
        display: block;
        margin-bottom: 200px;
        margin-top: 100px;
    }
}
